<h2>Countries</h2>

<hr />

<ul class="list-group">
  <!-- <li
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="list-group-item cursor-pointer"
    style="cursor: pointer !important"
  >
    Home Page
  </li>

  <li
    routerLink="about"
    routerLinkActive="active"
    class="list-group-item"
    style="cursor: pointer !important"
  >
    About Page
  </li>

  <li
    routerLink="contact"
    routerLinkActive="active"
    class="list-group-item"
    style="cursor: pointer !important"
  >
    Contact Page
  </li> -->

  <li
    routerLink="countries/region"
    routerLinkActive="active"
    class="list-group-item"
    style="cursor: pointer !important"
  >
    Region Page
  </li>

  <li
    routerLink="countries/country"
    routerLinkActive="active"
    class="list-group-item"
    style="cursor: pointer !important"
  >
    Country Page
  </li>

  <li
    routerLink="countries/capital"
    routerLinkActive="active"
    class="list-group-item"
    style="cursor: pointer !important"
  >
    Capital Page
  </li>

  <li
    routerLink="countries/id"
    routerLinkActive="active"
    class="list-group-item"
    style="cursor: pointer !important"
  >
    Id Country Page
  </li>
</ul>
