<h2>Countries</h2>

<hr />

<ul class="list-group">
  <li
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="list-group-item cursor-pointer"
    style="cursor: pointer !important"
  >
    Home Page
  </li>

  <li
    routerLink="about"
    routerLinkActive="active"
    class="list-group-item"
    style="cursor: pointer !important"
  >
    About Page
  </li>

  <li
    routerLink="contact"
    routerLinkActive="active"
    class="list-group-item"
    style="cursor: pointer !important"
  >
    Contact Page
  </li>
</ul>
